usd-core
jupyter
jupyterlab
mecab-python3
unidic-lite
ipadic
gensim
numpy
SciPy
matplotlib
pandas
pandas-profiling
requests
scikit-learn
pyvis==0.2.1
pdfminer.six
importlib.metadata
PyMuPDF
PyPDF2
lxml
beautifulsoup4
arelle-release
isodate
